<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Shopping</title>

  <link rel="stylesheet" href="">

</head>

<body>
  <main>
    <app-cart-header [numberItems] = "10"></app-cart-header>
   
    <app-product-list [products] ="products"></app-product-list>

    <app-cart-summary></app-cart-summary>

    

   
   
  </main>
</body>

</html>