<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <title>Document</title>
</head>
<body>
  <div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Dob</th>
            <th scope="col">Gender</th>
            <th scope="col">Cmnd</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
            <th scope="col">Address</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of listCustomer">
          <tr>
            <th scope="row">{{customer.customerId}}</th>
            <td>{{customer.customerName}}</td>
            <td>{{customer.customerDob}}</td>
            <td>{{customer.customerGender}}</td>
            <td>{{customer.customerCmnd}}</td>
            <td>{{customer.customerNumberPhone}}</td>
            <td>{{customer.customerEmail}}</td>
            <td>{{customer.customerType}}</td>
            <td>{{customer.customerAddress}}</td>
            <td>
              <!-- <button type="button" class="btn btn-info" [routerLink]="['/edit',customer.customerId]">Edit</button> -->
              <a style="margin-right: 20px" type="button" class="btn btn-outline-info" [routerLink]="['/edit',customer.customerId]">
              <i class="fas fa-edit"></i>
              </a>
              <a type="button" class="btn btn-outline-info" (click) = "deleteCustomer(customer.customerId)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>

